FastAPI
motor
uvicorn
requests
python-dotenv
Pillow==10.4.0
redis
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
python-multipart
#INTELLIGENCE REQUIREMENTS
motor
apscheduler
pymongo
scikit-learn
numpy
pandas
scipy
rapidfuzz
python-Levenshtein
jellyfish
jinja2
qdrant-client
