FastAPI
motor
uvicorn
requests
python-dotenv
Pillow==10.4.0
sentence-transformers

#INTELLIGENCE REQUIREMENTS
motor
apscheduler
pymongo
scikit-learn
numpy
pandas
scipy
rapidfuzz
python-Levenshtein
jellyfish
jinja2
qdrant-client
sentence-transformers